
body {
    background-color: #ffffff;
    color: #2E4057;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    padding-top:100px;
    padding-bottom: 100px;
}

.col{
    width:40%;
    margin: auto;
}

/* Navigation Bar */
.navbar {
    background-color: #F9DC5C;
    color: #2E4057;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    height: 50px;
}

#myNavbar{
    background-color: #F9DC5C;
    color: black;
}
.navbar a {
    color: #2E4057;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
}

.navbar-nav a:active {
    background-color: #2E4057 !important;
    color: #ffffff !important;
    cursor: pointer !important;
}


.navbar-nav a:hover {
    background-color: #2E4057 !important;
    color: #ffffff !important;
    cursor: pointer !important;
}

/* .navbar-nav li{
    padding-left: 10px;
    padding-right: 10px;
} */

.navbar-form {
    float: left;
}

.navbar-toggle {
    border-color: #2E4057;
    background-color:#F9DC5C

}

.icon-bar {
    background-color: #2E4057;
}

.navbar-collapse, .container-fluid {
    background-color: #F9DC5C;

}

/* Text */
h1 {
    color: #2E4057;
    font-family: 'Open Sans Bold', Arial Bold, Helvetica, sans-serif !important;
    font-size: 50px;
    font-weight: bold;
}

h2 {
    color: #2E4057;
    font-family: 'Open Sans Bold', Arial Bold, Helvetica, sans-serif !important;
    font-size: 30px;
    font-weight: bold;
}

h3 {
    color: #2E4057;
    font-family: 'Open Sans Bold', Arial Bold, Helvetica, sans-serif !important;
    font-size: 18px;
    font-weight: bold;
}

p {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif !important;
    font-size: 18px;
}



/* Button */

.tuxButton {
    background-color: #2E4057;
    border-radius: 50px;
    border: none;
    color: #ffffff;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif !important;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    height: 50px;
    width: 200px;
    text-decoration: none;
    text-align: center;
    transition-duration: 0.3s;
}

.tuxButton:hover {
    background-color: #F9DC5C;
    color: #2E4057;
}

/* Main Lesson Accordions */
button.less-acc {
    background-color: #2E4057;
    border: none;
    border-radius: 10px;
    color: #FFFFFF;
    font-size: 20px;
    padding: 10px;
    font-weight: bold;
    text-align:left;
    text-decoration: none;
    transition: 0.2s;
    width: 100%;
}

button.less-acc:active, button.less-acc:hover {
    background-color: #151E28;
}

button.less-acc:before {
    color: #FFFFFF;
    float: left;
    margin-left: 5px;
    padding-right: 20px;

}

button.par-acc {
    background-color: #d5d5d7;
    border: none;
    color: #000000;
    font-size: 15px;
    padding: 10px;
    font-weight: bold;
    text-align: left;
    text-decoration: none;
    transition: 0.2s;
    width: 100%;
}

button.par-acc:active, button.par-acc:hover {
    background-color: #bcbdc0;
}

button.par-acc:before {
    color: #FFFFFF;
    float: left;
    margin-left: 5px;
    padding-right: 20px;
}


.child-acc {
    background-color: #d5d5d7;
    border: none;
    color: #000000;
    font-size: 15px;
    padding: 10px;
    text-align: left;
    text-decoration: none;
    transition: 0.2s;
    width: 100%;
}

.child-acc:active, .child-acc:hover {
    background-color: #bcbdc0;
}


div.panel {
    /* Failsafe fallback to not hide element if browser has JS issues */
    display: block; 
    padding: 0 18px;
    background-color: transparent;
    height: auto;
    overflow: hidden;
    transition: 0.2s ease-in-out;
    /* Disable box shadowing */
    border-radius: 0;
    box-shadow: 0 0 0;
    -webkit-box-shadow: 0 0 0;
}


/* Lesson stuff for demo -JP */
/* SIMULATED DEMO (DEPRECATED)
#outCmdArea {
    resize: none;
    width: 100%;
}
#inCmdBox {
    width: 100%;
    padding: 12px 20px;
    display: block;
} */
/* XTERM */
code {
    /* Use consistent color theme for code elements */
    background-color:#2E4057;
    color:#F9DC5C;
}
#suggestionsArea, #terminal {
    margin-top: 12px;
}
#terminal {
    border-radius: 6px;
    border: 6px solid black;
}
@media only screen and (max-width: 640px) {
    .xterm-screen, .xterm-text-layer, .xterm-selection-layer, .xterm-link-layer, .xterm-cursor-layer {
        width: 100% !important;
        height: 35vh !important;
    }  
}
@media only screen and (max-width: 992px) {
    .xterm-screen, .xterm-text-layer, .xterm-selection-layer, .xterm-link-layer, .xterm-cursor-layer {
        width: 100% !important;
    }
}


/*tuxSpace styles for Help/Sign In*/

.tuxSpace input, .tuxSpace button{
    width: 100%;
    padding: 12px 20px;
    display: block;
}

.tuxSpace label{
    text-align: center;
    font-size: larger;
}

.tuxSpace button{
    background-color: #2E4057;
    color:white;
    margin-bottom: 5px;
}

.tuxSpace button:hover {
    opacity: 0.8;
}

.tuxSpace .signup{
    float:right;
}

/* help style */
textarea {
    resize: none;
    width: 100%;
    height: 200pt;
}

/* multiple choice style */
.questionContent, .lessonContent {
    padding:1% 5%;
    border-radius: 10px;
    background-color:white;
    display: inline-block;
}
.lessonContent {
    width: 60%;   
}
.questionContent {
    width: 38%;
    float: right;
    
}
#questionContainer {
    background-color:rgb(189, 205, 211);
    padding-bottom: 1%;
    border-radius: 10px;
}
