
body {
    background-color: #ffffff;
    color: #2E4057;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    padding-top:50px;
    padding-bottom: 50px;
}

/* Navigation Bar */
.navbar {
    background-color: #F9DC5C;
    color: #2E4057;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    height: 50px;
}

#myNavbar{
    background-color: #F9DC5C;
    color: black;
}
.navbar a {
    color: #2E4057;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
}

.navbar-nav a:hover {
    background-color: #2E4057 !important;
    color: #ffffff !important;
}

.navbar-nav li{
    padding-left: 10px;
    padding-right: 10px;
}

.navbar-form {
    float: left;
}

.navbar-toggle {
    border-color: #2E4057;
    background-color:#F9DC5C

}

.icon-bar {
    background-color: #2E4057;
}

.navbar-collapse {
    background-color: #F9DC5C;

}



/* Text */
h1 {
    color: #2E4057;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif !important;
    font-size: 50px;
    font-weight: bold;
}

p {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif !important;
    font-size: 18px;
}