
body {
    background-color: #ffffff;
    color: #2E4057;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    padding-top:100px;
    padding-bottom: 100px;
}

/* Navigation Bar */
.navbar {
    background-color: #F9DC5C;
    color: #2E4057;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    height: 50px;
}

#myNavbar{
    background-color: #F9DC5C;
    color: black;
}
.navbar a {
    color: #2E4057;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
}

.navbar-nav a:active {
    background-color: #2E4057 !important;
    color: #ffffff !important;
    cursor: pointer !important;
}


.navbar-nav a:hover {
    background-color: #2E4057 !important;
    color: #ffffff !important;
    cursor: pointer !important;
}

.navbar-nav li{
    padding-left: 10px;
    padding-right: 10px;
}

.navbar-form {
    float: left;
}

.navbar-toggle {
    border-color: #2E4057;
    background-color:#F9DC5C

}

.icon-bar {
    background-color: #2E4057;
}

.navbar-collapse {
    background-color: #F9DC5C;

}

/* Text */
h1 {
    color: #2E4057;
    font-family: 'Open Sans Bold', Arial Bold, Helvetica, sans-serif !important;
    font-size: 50px;
    font-weight: bold;
}

p {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif !important;
    font-size: 18px;
}



/* Button */

.tuxButton {
    background-color: #2E4057;
    border-radius: 50px;
    border: none;
    color: #ffffff;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif !important;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    height: 50px;
    width: 200px;
    text-decoration: none;
    text-align: center;
    transition-duration: 0.3s;
}

.tuxButton:hover {
    background-color: #F9DC5C;
    color: #2E4057;
}

/* Cute way of changing text if wanted  
.tuxButton:hover span{
    display: none;
}

.tuxButton:hover:before {
    content: "Let's Go!";
}
*/

/* Lesson stuff for demo -JP */
#outCmdArea {
    resize: none;
    width: 100%;
}

/*Sign in styles */
input,button{
    width: 100%;
    padding: 12px 20px;
    display: block;
}
label{
    text-align: center;
    font-size: larger;
}
button{
    background-color: #2E4057;
    color:white;
    margin-bottom: 5px;
}
button:hover {
    opacity: 0.8;
    
  }
.signup{
float:right;
}
.col{
    width:40%;
    margin: auto;
}


/*help style*/
textarea {
    resize: none;
    width: 100%;
    height: 200pt;
}